.tweet-input-wrapper {
  display: grid;
  grid-template-columns: 80px 1fr;
  border-bottom: 1px solid rgba(15, 20, 25, 0.1);
}
.profile-imgage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.profile-wrapper {
  padding-top: 0.7rem;
  display: flex;
  justify-content: center;
}
.tweet-input {
  width: 100%;
  min-height: 50px;
  resize: none;
  border: none;
  outline: none;
  padding: 1rem 0.5rem;
  font-size: 1.4rem;
  overflow: hidden;
  resize: none;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
}

.custom-file-upload input[type="file"] {
  display: none;
}
.input-menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.tweet-input-btn {
  background-color: #1d9bf0;
  padding: 0.6rem 1.5rem;
  border-radius: 5rem;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 0.5rem;
}

.tweet-input-btn:disabled {
  background-color: #8ec8ef;
  cursor: not-allowed;
}
@media (max-width: 410px) {
  .tweet-poll,
  .tweet-input-calendar {
    display: none;
  }
  .tweet-input{
    font-size: 1.2rem;
  }
}
