.bottom-nav-container {
  width: 100%;
  display: none;
  position: fixed;
  bottom: 0;
  background-color: white;
  border-top: 1px solid rgba(15, 20, 25, 0.1);
}
.bottom-nav-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.bottom-nav-item img {
  width: 32px;
  height: 32px;
}
@media (max-width: 575px) {
  .bottom-nav-container {
    display: flex;
  }
}
@media (max-width: 480px) {
  .bottom-nav-item img {
    width: 28px;
    height: 28px;
  }
}
@media (max-width: 400px) {
  .bottom-nav-item img {
    width: 26px;
    height: 26px;
  }
}
