.container {
  max-width: 1920px;
  width: 100%;
  /* border: 2px solid black; */
  /* display: grid;
  grid-template-columns: minmax(300px, 1fr) 600px minmax(400px, 1fr); */
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: center; */
}
